
<h3>Direct and Indirect Free Kick</h3>
<mat-tab-group>

    <mat-tab label="Active Skill">
        <mat-form-field >
            <mat-label>nearIncomingRadi</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>nearBallSpeedTresh</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>incomingBallDistanceTresh</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>kickedToUsRadi</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>kickedToUsBallSpeedTresh</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>staticBallSpeedTresh</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>incomingBackBall</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>KpxVyside</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>KpyVySide</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>KpxVxSide</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>KpxVyBack</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>KpyVyBack</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>KpxVxBack</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>vyOffsetSide</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>vyOffsetBack</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>KpTotalVySide</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>KpTotalVyBack</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>KpSideY</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>KiSideY</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>KdSideY</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>KpSideX</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>KiSideX</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>KdSideX</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>KpBackY</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>KiBackY</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>KpBackX</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>KiBackX</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>KdBackX</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
    </mat-tab>
    <mat-tab label="Role">
        <mat-form-field >
            <mat-label>SweepZone</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>kickAnyWayRegion</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>kickAccuracy</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>kickRegionAccuracy</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>minGoodness</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>clearRobotZone</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>ConfilictZone</mat-label>
            <input matInput value="Hello" required>
        </mat-form-field>
    </mat-tab>
    <mat-tab label="Coef">
        <ng-template matTabContent>
            <app-tabulator-tables></app-tabulator-tables>
        </ng-template>
    </mat-tab>

</mat-tab-group>