<div class="blueTeam">
    <button mat-raised-button color="primary">Basic</button>
    <button mat-raised-button color="primary">Penalty</button>
    <button mat-raised-button color="primary">Indirect</button>
    <button mat-raised-button color="primary">Direct</button>
    <button mat-raised-button color="primary">Kick Off</button>
    <button mat-raised-button color="primary">Ball Palcement</button>
  </div>
  
  
  <div class="yellowTeam">
    <button mat-stroked-button color="accent">Time Out</button>
    <button mat-stroked-button color="accent">Penalty</button>
    <button mat-stroked-button color="accent">Indirect</button>
    <button mat-stroked-button color="accent">Direct</button>
    <button mat-stroked-button color="accent">Kick Off</button>
    <button mat-stroked-button color="accent">Ball Palcement</button>
  </div>
  
  
  <div class="globalCommand">
    <button mat-stroked-button color="warn">Halt</button>
    <button mat-stroked-button color="warn">Come Here</button>
    <button mat-stroked-button color="warn">Force Start</button>
    <button mat-stroked-button color="warn">Normal Start</button>
    <button mat-stroked-button color="warn">Stop</button>
    <button mat-stroked-button color="warn">Robot Controller</button>
    <button mat-stroked-button color="warn">Move Robot</button>
    <button mat-stroked-button color="warn">Matrix Claculator</button>
  </div>
  
  
  