<div class="tactic"></div>
<div class="fk-title">
    <h1>Configuration</h1>
</div>
<div class="flex-container">
    <div class="flex-item">
        <h1>Our Kick Off</h1>
        <mat-radio-group aria-label="Receive Mode:">
            <mat-radio-button class="radio-button" value="1">Auto</mat-radio-button>
            <mat-radio-button class="radio-button" value="2">Direct</mat-radio-button>
            <mat-radio-button class="radio-button" value="3">Inside Pass</mat-radio-button>
            <mat-radio-button class="radio-button" value="4">Chip Pass</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="flex-item">
        <h1>Our Corner Kick</h1>
        <mat-radio-group aria-label="Receive Mode:">
            <mat-radio-button class="radio-button" value="1">Auto</mat-radio-button>
            <mat-radio-button class="radio-button" value="2">Heading</mat-radio-button>
            <mat-radio-button class="radio-button" value="3">Normal</mat-radio-button>
            <mat-radio-button class="radio-button" value="4">Compress</mat-radio-button>
            <mat-radio-button class="radio-button" value="5">Heavy</mat-radio-button>
            <mat-radio-button class="radio-button" value="6">Near</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="flex-item">
        <h1>Penalty Goaller</h1>
        <mat-radio-group aria-label="Receive Mode:">
            <mat-radio-button class="radio-button" value="1">Auto</mat-radio-button>
            <mat-radio-button class="radio-button" value="2">Direct</mat-radio-button>
            <mat-radio-button class="radio-button" value="3">Inside Pass</mat-radio-button>
            <mat-radio-button class="radio-button" value="4">Chip Pass</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="flex-item">
        <h1>Our Normal Game</h1>
        <mat-radio-group aria-label="Receive Mode:">
            <mat-radio-button class="radio-button" value="1">Auto</mat-radio-button>
            <mat-radio-button class="radio-button" value="2">Heading</mat-radio-button>
            <mat-radio-button class="radio-button" value="3">Normal</mat-radio-button>
            <mat-radio-button class="radio-button" value="4">Compress</mat-radio-button>
            <mat-radio-button class="radio-button" value="5">Heavy</mat-radio-button>
            <mat-radio-button class="radio-button" value="6">Near</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="flex-item">
        <h1>Penalty Shooter</h1>
        <mat-radio-group aria-label="Receive Mode:">
            <mat-radio-button class="radio-button" value="1">Center</mat-radio-button>
            <mat-radio-button class="radio-button" value="2">Corner</mat-radio-button>
        </mat-radio-group>
    </div>
</div>
<button mat-button class="submit-button">Submit</button>
<hr>
<h3>Direct and Indirect Free Kick</h3>
<mat-tab-group class="">
    <mat-tab label="Our Field">
        <div>
            <mat-radio-button class="fk-radio-button" value="1">Auto</mat-radio-button>
            <mat-radio-button class="fk-radio-button" value="2">Heading</mat-radio-button>
            <mat-radio-button class="fk-radio-button" value="3">Normal</mat-radio-button>
            <mat-radio-button class="fk-radio-button" value="4">Compress</mat-radio-button>
            <mat-radio-button class="fk-radio-button" value="5">Heavy</mat-radio-button>
            <mat-radio-button class="fk-radio-button" value="6">Near Free</mat-radio-button>
            <mat-radio-button class="fk-radio-button" value="7">Very Heavy</mat-radio-button>
            <mat-radio-button class="fk-radio-button" value="8">Double</mat-radio-button>
        </div>
    </mat-tab>
    <mat-tab label="Middle Field">
        <mat-radio-button class="fk-radio-button" value="1">Auto</mat-radio-button>
        <mat-radio-button class="fk-radio-button" value="2">Heading</mat-radio-button>
        <mat-radio-button class="fk-radio-button" value="3">Normal</mat-radio-button>
        <mat-radio-button class="fk-radio-button" value="4">Compress</mat-radio-button>
        <mat-radio-button class="fk-radio-button" value="5">Heavy</mat-radio-button>
        <mat-radio-button class="fk-radio-button" value="6">Near</mat-radio-button>
    </mat-tab>
    <mat-tab label="Opponet Field">
        <mat-radio-button class="fk-radio-button" value="1">Auto</mat-radio-button>
        <mat-radio-button class="fk-radio-button" value="2">Heading</mat-radio-button>
        <mat-radio-button class="fk-radio-button" value="3">Normal</mat-radio-button>
        <mat-radio-button class="fk-radio-button" value="4">Compress</mat-radio-button>
        <mat-radio-button class="fk-radio-button" value="5">Heavy</mat-radio-button>
        <mat-radio-button class="fk-radio-button" value="6">Near</mat-radio-button>
    </mat-tab>
</mat-tab-group>
<button mat-button class="submit-button">Submit</button>